:root {
    --h-divider-color: var(--h-border-strong);
    --h-divider-thickness: 1px;
    --h-divider-margin: 0.8rem 0;
    --h-divider-text-color: var(--h-text-secondary);
    --h-divider-text-padding: 0 0.25rem;
    --h-divider-text-font-size: var(--h-text-size-sm);
    --h-divider-line-min-width: 10px;
}
