:root {
    --h-input-wrapper-width: 100%;
    --h-input-label-gap: 6px;
    --h-input-label-font-size: var(--horizon-text-size-sm);
    --h-input-label-color: var(--horizon-text-secondary);

    --h-input-width: 100%;
    --h-input-height: 2rem;
    --h-input-border-radius: var(--horizon-border-radius-none);
    --h-input-bg: var(--horizon-surface-bg-80);
    --h-input-border: var(--horizon-border);
    --h-input-focus-border: var(--horizon-text);
    --h-input-transition: border-color 0.2s;

    --h-input-icon-size: var(--horizon-icon-size-base);
    --h-input-icon-color: var(--horizon-text-secondary);
    --h-input-icon-gap: 8px;
    --h-input-prefix-opacity: 1;
    --h-input-suffix-opacity: 1;

    --h-input-padding: 0 0.5rem;
    --h-input-font-size: var(--horizon-text-size-sm);
    --h-input-text: var(--horizon-text);
    --h-input-placeholder-color: var(--horizon-text-secondary);
    --h-input-disabled-opacity: 0.5;
}
